body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    color: #fff;
}

h2,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: 900;
    color: #035FA5;
}

h3 {
    font-weight: bolder;
    
}

a{
    text-decoration: none;
}


.container-fluid {
    padding: 4% 15% 1%;
}




/* sections */
.white-sec {
    background-color: #fff;
}

.color-sec {
    background: linear-gradient(-45deg, #035FA5, #8DB6D6);
    color: #fff;
}




/* headings */
.big-head {
    font-size: 350%;
    line-height: 1.5;
    font-weight: 900;
}

.meet {
    text-align: left;
}

p {
    color: #958c8c;
}

#title {
    position: relative;
}




/* Navbar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: normal;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    font-size: 1.2rem;
}

.show {
    opacity: 0.8;
    border: none;
}

.dropdown-menu {
    border: 0px;
}




/* download buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}




/* Title*/
#title .container-fluid {
    padding: 3% 15%;
}

.title-img {
    width: 80%;
}



/* Features */
.feature-title {
    font-size: 1.5rem;
    color: #035FA5;
}

i {
    color: #035FA5;
    margin-bottom: 1rem;
    opacity: 0.8;
    transition: 0.3s;
}


#features {

    position: relative;
}

.feature-box {
    padding: 5% 5%;
    line-height: 2rem;
}

.feature-box:hover i {
    opacity: 1;
}


.testimonial-text {
    font-size: 300%;
    line-height: 1.5;
    font-weight: bold;
    padding: 5%;
}

.carousel-item {
    padding-bottom: 3%;
}




/* press */
#press {
    background-color: rgb(3, 95, 165, 0.9);
    padding-bottom: 3%;
}

.logos {
    width: 15%;
    margin: 2%;
}




/* Pricing section */
#pricing {
    padding: 10% 8% 0%;
}

.price-text {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.price-head {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.pricing-header {
    margin-bottom: 3%;
}

.card {
    border: solid rgb(3, 95, 165, 0.7) 0.5px;
}

.card-body {
    padding: 0%;
}

.card-header {
    background-color: rgb(3, 95, 165, 0.7);
    color: white;
}

.card:hover .card-header {
    background-color: rgb(3, 95, 165, 0.9);
}

.btn-lg {
    border-top: solid rgb(3, 95, 165, 0.7) 0.5px;
    color: rgb(3, 95, 165, 0.9);
    border-radius: 0;
}

.btn-lg:hover {
    background-color: rgb(3, 95, 165, 0.9);
    color: white;
    border: solid rgb(3, 95, 165, 0.7) 0.5px;
}




/* Call to action */




/* footer */
#footer {
    font-size: small;
}


.foot-icon {
    padding: 1.5%;
}

.foot-icon:hover {
    cursor: pointer;
    font-size: 200%;
}



/* media */
@media (max-width: 1024px) {
    #title {
        color: #fff;
    }

    .title-img {
        position: static;
        transform: rotate(0deg);
    }
}